html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.app-container {
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 2px 0 10px rgba(0,0,0,1);
    height: 100vh;
}

@media (min-width: 501px) {
    .app-container {
        border-radius: 20px;
    }
}

.app {	
	outline: 1px solid lightgray;
	margin: 0 auto;
}